
.container{
  background: #456990;
}

.mainActions{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 10px;
}


/** List Item: ;
 */

.listItem{
  /*background: #456990;*/
  display: flex;
  color: #e8e8e8;
  border-bottom: 1px solid #fff;
  text-shadow: 0px 1px 1px #333;
  font-weight: bold;
  padding:5px 10px;
  flex-direction: row;
  align-content: center;
  position: relative;
  height: 60px;
}

.contentWrapper{
  z-index: 999;
  width: 100%;
  display: flex;
}

.dirtyState{

}

.isDirty{
  background: brown;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0.2;
  z-index: 0;
}

.listItem.healthy{
  background: linear-gradient(to right,rgba(16, 101, 16, 0.65), rgba(60, 250, 60, 0.45));
}
.listItem.stomachache{
  background: linear-gradient(to right ,#A79333, #D9C45E);
}
.listItem.flu{
  background: linear-gradient(to right,#520303, #8B1D1D);
}

.branchInfo{
  font-size: 12px;
  text-shadow: none;
  font-weight: 300;
  margin-left: 20px;
}

.current{font-weight: bold;}

.current span{
  font-style: italic;
  font-weight: normal;
}

.tracking{font-weight: bold;}

.tracking span{
  font-style: italic;
  font-weight: normal;
}

label{
  align-self: center;
  font-weight: 600;
  font-size: 14px;
  text-shadow: 1px solid #000;
}

/** Buttons
 */

.buttons{
  margin-left: auto;
  align-self: center;
}

.addRepository button,
.mainActions button,
.listItem button{
  font-size: 20px;
  background: #F45B69;
  color: #FFF;
  border-width: 0;
  border: 1px solid #AC5656;
  border-radius: 5px;
  outline: 0;
  box-shadow: 0px 1px 1px #666;
  padding: 6px 10px;
  font-size: 15px;
  margin: 0 10px 0 0;
  text-shadow: 0px 1px 1px #333;
  font-weight: 300;

  font-family: Monaco;
  font-size: 10px;
}

.isLoading{
  text-align: center;
  width: 100px;
  font-size: 30px;
}

.addRepository{
  margin-top: 10px;
  padding-left: 10px;
}
.addRepository button{
  background: linear-gradient(#E4FDE1,#B5C9B2);
  color: black;
  text-shadow: none;
  font-weight: 400;
}

.buttons .fetch{
  background: #5BB3F4;
}


button.terminal{
  background: black;
  border: black;
  color: #24FF24;
  display: inline-block;
  height: 30px;
  align-self: center;
  margin-left: 10px;
}

.externalLink{
  font-size: 20px;
  align-self: center;
  cursor: pointer;
  padding: 5px 10px;
}
.externalLink:hover,
.externalLink:active{
  border-radius: 5px;
  background: #882525;
  color: white;
}


.buttons .pull:hover,
.buttons .pull:active{
  cursor: pointer;
  background: red;
}


.listItem:nth-child(odd){
  /*background: #4779B0;*/
}

/** Status
 */

.listItem .status{
  display: flex;
  align-content: center;
  padding-left: 10px;
  text-align: center;
  justify-content: center;
  width: 100px;
}

.listItem .status div{
  align-self: center;
}

.listItem .ahead{}

.listItem .behind{}

.listItem .actions{
  align-self: center;
}

.listItem .actionButton{
  padding: 5px 10px;
  border-radius: 5px;
}

.listItem .actions:hover,
.listItem .actions:active{
  cursor: pointer;
  border-radius: 5px;
  background: #882525;
  color: white;
}


/**
 * INVALID
**/

.invalid .externalLink{
  margin-left: auto;
}
