
.container{
  background: #456990;
}

.mainActions{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  font-size: 10px;
}


/** List Item: ;
 */

.listItem{
  /*background: #456990;*/
  border-bottom: 1px solid #ccc;
  display: flex;
  color: #e8e8e8;
  text-shadow: 0px 1px 1px #333;
  font-weight: bold;
  padding:5px 10px;
  flex-direction: row;
  align-content: center;
}

.listItem.healthy{
  background: linear-gradient(to right,rgba(16, 101, 16, 0.65), rgba(60, 250, 60, 0.45));
}
.listItem.stomachache{
  background: linear-gradient(to right ,#A79333, #D9C45E);
}
.listItem.flu{
  background: linear-gradient(to right,#520303, #8B1D1D);
}

.branchInfo{
  font-size: 12px;
  text-shadow: none;
  font-weight: 300;
  margin-left: 20px;
}

.current{font-weight: bold;}

.current span{
  font-style: italic;
  font-weight: normal;
}

.tracking{font-weight: bold;}

.tracking span{
  font-style: italic;
  font-weight: normal;
}

label{
  align-self: center;
  font-weight: 600;
  font-size: 14px;
  text-shadow: none;
}

/** Buttons
 */

.buttons{}

.addRepository button,
.mainActions button,
.listItem button{
  font-size: 20px;
  background: #F45B69;
  color: #FFF;
  border-width: 0;
  border-radius: 5px;
  outline: 0;
  box-shadow: 0px 1px 1px #666;
  padding: 6px 10px;
  font-size: 15px;
  margin: 0 10px 0 0;
  text-shadow: 0px 1px 1px #333;
  font-weight: 300;
}

.addRepository{
  margin-top: 10px;
  padding-left: 10px;
}
.addRepository button{
  background: linear-gradient(#E4FDE1,#B5C9B2);
  color: black;
  text-shadow: none;
  font-weight: 400;
}

.buttons .fetch{
  background: #5BB3F4;
}

.buttons .pull{
  font-family: Monaco;
  font-size: 10px;
}

.listItem:nth-child(odd){
  /*background: #4779B0;*/
}

/** Status
 */

.listItem .status{
  display: flex;
  align-content: center;
  padding-left: 10px;
  margin-left: auto;
}

.listItem .status div{
  align-self: center;
}

.listItem .ahead{}

.listItem .behind{}
